@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

html {
  scroll-behavior: smooth;
}

@theme {
  --color-primaryDark: #79561E;
  --color-primaryMain: #BF8D3C;
  --color-primaryLight: #F9EECD;
  --color-primarySoft: #FAF8F2;
  --color-neutralBlack: #080808;
  --color-neutralDarkGray: #616B75;
  --color-neutralLightGray: #7F8C99;
  --color-neutralSoftGray: #E5E7EB;
  --color-neutralWhite: #FFFFFF;
  --color-neutralBlack: #080808;
  --color-footerColor: #111D35;
}

@utility bg-ready-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.85)), var(--bgImage);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@utility highLineHeight {
  line-height: 200%;
}

@utility midLineHeight {
  line-height: 150%;
}

@utility smallLineHeight {
  line-height: 110%;
}